
.container {
  img {
    display: block;
    max-width:100%;
    border-radius: 0.25rem;
    transition: transform 0.2s;
  }
}

.description {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;

  h3 {
    text-align: center;
  }

  small {
    font-size: .875rem;
    color: var(--muted);
  }
}

.buttonsContainer {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  position: relative;
  bottom: 0;
  a {
    background: var(--secondary);
    padding: 1rem;
    border-radius: 0.25rem;
    transition: filter 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      filter: brightness(0.9)
    }

    &:first-child {
      background: var(--primary);
    }

    svg {
      margin-left: 0.5rem;  
    }
  }
}