.container {
  background: var(--secondary);
  color: #fff;
  padding-bottom: 2rem;
}

.content {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2rem 1rem;

  h2 {
      text-align: center;
      margin-bottom: 2rem;
  }
}

.mainText {
  margin: 0 0 3rem;

  p {
    max-width: 720px;
    margin: 0 auto 1rem;
  }
}

.informationContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 4rem;

  @media(min-width: 720px) {
    grid-template-columns: 1fr 1fr;
  }

  h3 {
    margin-bottom: 1.5rem;
  }
}

.more {
  a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
      text-decoration: underline;
    }

    svg {
      color: var(--primary);
      font-size: 3rem;
      margin-right: 0.75rem;
    }
  }
}

.contact {
  text-align: right;
}

.emailAddress {
  display: block;
  svg {
    height: 3rem;
    display: inline;
    fill: currentColor;
    &:first-child {
      max-width: 12em;
      margin-right: 0.17rem;
    }
    &:last-child {
      max-width: 10em;
    }
  }
}
